/* FORM   */

.newTaskForm {
  max-width: 46rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -1.75rem;
}

.newTaskForm input{
  width: 100%;
  max-width: 39.875rem;
  color: var(--gray-100);
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  font-size: 1rem;
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
  font-size: 1rem;
} 

.newTaskForm input:focus {
  outline: none;
  border: 1.5px solid var(--purple-dark);
  color: var(--gray-100);
}

.newTaskForm button{
  max-width: 5.625rem;
  width: 100%;
  padding: 1.08rem 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 200ms background-color;
}

.newTaskForm button:hover {
  background: var(--blue);
}

.newTaskForm button img {
  margin-left: .375rem;
}

/* SECTION  */

.section {
  width: 100%;
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;
}

.section header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskInfo {
  margin-top: 2.0rem;
  padding: 2rem 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;

  font-weight: 600;
}

.taskInfo .taskCreated {
  color: var(--blue);
  font-size: 1rem;
}


.taskInfo .taskCompleted {
  margin-left: 8px;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  color: var(--purple);
  border-radius: 16px;
}

.taskInfoCount {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  gap: .625rem; 

  background: var(--gray-400);
  border-radius: 999px;

  font-family: 'Inter';
  font-size: .75rem;
  line-height: .9375rem;

  color: var(--gray-200);
}

.emptyTasks {
  max-height: 25rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyTasks img {
  margin-top: 3.5rem;
}

.emptyTasks strong {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--gray-300);
  line-height: 0.5;
}

.emptyTasks p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.listTasks {
  width: 100%;
  max-height: 25rem;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.listTasks ul {
  width: 100%;
  list-style: none;
}